<div class="post-abs-list" id="posts">
{{range $.posts}}
<div class="each-post">
	<div class="created-time sm-info">
		<i class="fa fa-clock-o"></i>&nbsp;{{.PublicTime | datetime}}&nbsp;| <span class="fa fa-comments-o"></span>&nbsp;{{.CommentNum}} Comments
	<span class="created-time">
			{{if .Tags}}
			&nbsp;|&nbsp;<i class="fa fa-bookmark-o"></i>&nbsp;{{blogTags $ .Tags}}
			{{end}}
		</span>
	</div>
	{{if .Title}}
        <p class="post-abs-title" id='articleTitle'>
			<a href="{{$.postUrl}}/{{.UrlTitle}}" title="{{.Title}}">
			        {{.Title}}
			</a>
		</p>
	{{end}}
	<div class="desc">
		<div class="post-abs">
			{{.Abstract | raw}}
		</div>
	</div>
</div>


{{else}}
<div class="each-post">
	暂无内容
</div>

{{end}}

</div>
<div class="topmark" id="topmark3"></div>